.bg-video {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .15;
    overflow: hidden;

    &__content {
        height: 100%;
        width: 100%;
        // similar to background size set to cover
        // fills itself to the parent element
        object-fit: cover;
    }
}